<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PieMail Register</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div class="main">
            <h1>piemail web interface</h1>
        </div>
        <form action="/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="$ username _" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="$ password _" required>

            <label for="invite_code">Invitation Code:</label>
            <input type="text" id="invite_code" name="invite_code" placeholder="Invitation Code _" required>

            <button type="submit">Register</button>
        </form>

        {% if error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>
        {% endif %}
    </body>
</html>
